# Ignore local virtual environments
venv/
env/
.Python

# Python cache & bytecode
__pycache__/
*.py[cod]
*$py.class

# Environment variables file


# Django media & static collect
staticfiles/
media/

# Build artifacts & packaging
build/
dist/
*.egg-info/

# Sphinx output
docs/_build/
docs/build/

# Pytest cache
.pytest_cache/
.cache/

# Git metadata
.git/
.gitignore

# IDE/editor directories
.vscode/
.idea/
*.sublime-*

# OS junk
.DS_Store
Thumbs.db
